body {
  background-color: black;
}

header {
  border-bottom: 1px solid rgba(169, 169, 169, 0.368);
  padding-bottom: 20px;
  padding-top: 10px;
}

.heading {
  color: whitesmoke;
  font-size: 27px;
  font-weight: bold;
  margin-left: 39px;
  color: #e0ffffd9;
}


#book-movie {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.368);
  padding-bottom: 30px;

}

#selected-movie {
  color: white;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

label {
  color: white;
}

ul.movies-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  list-style-type: none;
  padding-right: 40px;
  color: white;

}

.showcase {
  display: flex;
  color: white;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;

}

.text {
  margin-left: 10px;
  color: gray;
}

li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.image-container img {
  width: 300px;
  margin: 0;

}


img {
  display: block;
  margin: auto;
  transition: background-color 300ms;

}

.detail {
  grid-column: span 2/span 2;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.movie-name {
  font-size: 50px;
  color: greenyellow;
  margin-top: 0;
  margin-bottom: 0;


}

.watch {
  font-size: 23px;
  padding: 12px 20px;
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;

}

#cinema {
  display: grid;
  grid-template-columns: repeat(8, min-content);
  grid-gap: 6px;
}

#reserve-seat {
  color: white;
  width: 327px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgb(59 130 246 / 28%);
  background-color: rgb(59 130 246 / 28%);
  text-align: center;
  margin-top: 6px;
}

.screen {
  perspective: 400px;
  margin: 20px 0;
}

.screen-view {
  background: #fff;
  box-shadow: 0 3px 10px 2px #fff;
  height: 57px;
  transform: rotateX(-30deg) scale(1.1);
  width: 258px;
  margin-bottom: 10px;
}

.seat {
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0.377);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.seat.occupied {
  background-color: gray;
}

.seat.occupied {
  background-color: gray;
}

.seat.selected {
  background-color: green;
}

.selected-seat {
  background: green !important;
}

#cinema .seat:nth-of-type(8n+2),
#cinema .seat:nth-of-type(8n+6) {
  margin-right: 12px;
}

.booking-info {
  color: whitesmoke;
  margin-top: 16px;
}

.booking-info span {
  color: greenyellow;

}

#cinema-container {
  margin-right: 12px;
  padding-right: 24px;
}

#reserve-seat {
  max-width: 258px;
}

#cinema .seat:not(.occupied):focus,
#cinema .seat:not(.occupied):hover {
  cursor: pointer;
  background-color: #7bc47f;
}

#selected-movie {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/* Use a media query for phone */
@media only screen and (min-width: 313px) and (max-width: 1180px) {

  .heading {
    display: block;
  }

  #book-movie {
    display: block;
    border-bottom: 1px solid rgba(169, 169, 169, 0.368);
    margin-left: 20px;

  }

  .image-container img {
    width: 100%;
  }

  #selected-movie {
    display: inline-block;
  }

  ul.movies-list {
    display: block;
  }

  #cinema-container {
    margin-left: 30px;
  }

  .screen {
    display: none;
  }

  #cinema {
    margin-left: 15px;

  }

  .booking-info span {
    display: block;
  }

  ul.movies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase {
    gap: 5px;
    padding-left: 15px;
  }

  #reserve-seat {
    width: 90%
  }

}

/* Use a media query for tablet */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1368px) {
  ul.movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  #reserve-seat {
    width: 100%;
  }

  #cinema-container {
    margin: 0 auto;
    width: 285px;
  }

  #sample-seat {
    display: inline-block;
  }
}